page-new-post {

ion-navbar{
    text-align: center;
}

.media{
    width: 100%;
    height: auto;
    display: inline-block;    
    text-align: center;
}

.media-image ion-img{
    width: 50%;
    contain: unset;
}

.media-video{
    width: 100%;
    height: auto;
}

}
