page-main-page {

ion-navbar{
    text-align: center;
}

ion-navbar ion-icon{
    font-size: 2.8rem;
    color: #fff;
}

.side{
    width : 11%;
    height: 100%; 
    background: #fff;
    text-align: center;
}

.side-bar-row{

    display: block;
    // height:20%;
    padding-top: 100%;
    padding-bottom: 50%;
    font-size: 25px;
    overflow-y: auto;
    
}

video{
    width: 70%;
    height: auto; 
}

.main-content{
    margin-left: 10%;
}
.feeds{
    margin-left: 10%;
    margin-top: 8%;
}

.slide-title{
    position: fixed;
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

.swiper-slide {
    overflow-y: scroll;
    display: block;
}

.separator{
    border-top: solid 1px;
}

}
