page-signup {

ion-navbar{
    text-align: center;
}

.meri{
    background-color: #ffdbd1;
}

.item-md{
    background-color: #eaf0f2;
}

.item-ios{
    background-color: #eaf0f2;
}

#logo{     
    // height: 150px;
    // width: 150px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.logo-div .item-md.item-block .item-inner{
    border-bottom: none;
}


.logo-div .item-ios.item-block .item-inner{
    border-bottom: none;
}

form{
    transform: translate(0, 3vh);
}

.signup-button{
    transform: translate(0, 7vh);
}

}
