page-related-news {

.side{
    width : 10%;
    height: 100%; 
    margin-left: 2%;
}

.side-bar-row{
    height:20%;
    padding-top: 50%;
    padding-left: 5%;
    font-size: 25px;
}

.slide-title{
    position: fixed;
    width: 100%;
    padding-top: 2%;
    text-align: center;
}

}
